DTTD/DTTD.sdf
DTTD/.vs/DTTD/v14/.suo
DTTD/DTTD.VC.opendb
DTTD/Debug/DTTD.exp
DTTD/Debug/DTTD.ilk
DTTD/Debug/DTTD.lib
DTTD/Debug/DTTD.log
DTTD/Debug/DTTD.pch
DTTD/Debug/DTTD.pdb
DTTD/Debug/DTTD.tlog/CL.command.1.tlog
DTTD/Debug/DTTD.tlog/CL.read.1.tlog
DTTD/Debug/DTTD.tlog/CL.write.1.tlog
DTTD/Debug/DTTD.tlog/DTTD.lastbuildstate
DTTD/Debug/DTTD.tlog/DTTD.write.1u.tlog
DTTD/Debug/DTTD.tlog/link.command.1.tlog
DTTD/Debug/DTTD.tlog/link.read.1.tlog
DTTD/Debug/DTTD.tlog/link.write.1.tlog
*.pdb
*.ipch
*.obj
*.idb
*.exp
*.iobj
*.ipdb
*.lib
*.log
*.pch
*.tlog
*.lastbuildstate
DTTD/Data/PlayData/Data3.txt
DTTD/Log.txt
DTTD/Debug/Log.txt
